<div class="row row_margin">
    <div class="col s10 offset-s1">
        <div class="content_card z-depth-1">

            <div class="content_header">
                StaticPages#about
            </div>

            <div class="content_body">
                Find me in app/views/static_pages/about.html.erb
            </div>

        </div>
    </div>
</div>

