<% provide(:title, 'About') %>
<div class="row">
    <div class="row">
        <div class="col l8 offset-l2 s12">
            <div class="content_title">
                <i class="material-icons" style="font-size: 35px">fingerprint</i>About SoundIt!
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col l8 offset-l2 m12 s12">
            <div class="row">
                <div class="col l12 m12 s12 content_card z-depth-1"> 
                    <div class="row">
                        <div class="col s12">
                            <br>
                            SoundIt! was created by Abe Dick, Qualen Pollard, and Alex Shadley during the Fall 2017 Semester 
                            at the University of Kansas for EECS 448. <br><br>
                            This is our semester project and the goal was to design and develop a project of our own choice and 
                            spend about 8 weeks producing it. SoundIt! Was proposed by Qualen as an interactive social media 
                            experience combining Sound Cloud with a Reddit style interface. This was accomplished via the Ruby 
                            on Rails framework after spending this frist project of the semester enjoing using the Ruby programming
                            language.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>