    <% if logged_in? %>

        <div class="row row_margin">
            <div class="col s2 content_card z-depth-1 hide-on-med-and-down">
                <div class="content_header_narrow">
                    Communities
                </div>
                Communities <br><br><br><br><br><br><br><br><br>
            </div>

            <div class="col s10">
                <div class="row">
                    <div class="col s9 content_card z-depth-1">

                        <div class="content_title">
                            What's Hot?
                        </div>
                    
                        <ul class="feed_listing">
                            <%= render @feed %>
                        </ul>

                    </div>
                    <div class="col s3 content_card z-depth-1 right hide-on-med-and-down">
                        <div class="content_header_narrow">
                            My Posts (<%= current_user.microposts.count %>)
                        </div>

                </div>
            </div>

            <div class="row">
                <div class="col s12 content_card z-depth-1">
                    <div class="content_header_narrow">
                        Community Feature
                    </div>
                    Community Feature<br><br><br><br>
                    </div>
                </div>
            </div>
        </div>



    <% else %>
        <div class="row row_margin">

        <div class="col s10 offset-s1">
        <div class="content_card z-depth-1">

            <div class="content_header">
                StaticPages#Home
            </div>

            <div class="content_body">
                Find me in app/views/static_pages/home.html.erb<br><br>
            
                More Content
            </div>
        </div>
    </div>
    </div>

    <% end %>




