<% provide(:title, "Forgot password") %>


  	<div class="row">
   		<div class="col s10 offset-s1 content_card z-depth-1">

            <div class="content_title">
                Reset Password
            </div>


            <div class="content_body">
                <%= form_for(:password_reset, url: password_resets_path) do |f| %>
                <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>

                <%= f.submit "Submit", class: "btn blue-grey" %>
                <% end %>
            </div>

        </div>
    </div>

