<div class="col l2 offset-l1">
    <div class="row">
        <div class="col s12 content_card z-depth-1">
            <table class="bordered highlight">
                <thead>
                    <tr><th class="fp_song_title">Navigation</th></tr>
                </thead>
                <tbody>
                    <tr><td class="fp_song_title"><%= link_to "Admin Index", admin_index_path %>
                    <tr><td class="fp_song_title"><%= link_to "Moderation Panel", com_mgmt_path %>

                </tbody>
            </table>
        </div>
    </div>
</div>