<% provide(:title, "Admin Management") %>

<div class="row">
    <div class="row">
        <div class="col l11 offset-l1 s12">
            <div class="content_title">
                <i class="material-icons" style="font-size: 35px">laptop_chromebook</i> Admin Management
            </div>
        </div>
    </div>

    <%= render 'admin/navigation'%>

    <div class="col l8 s12">
        <div class="row">
            <span class="_title">Add/Remove Admins</span>
            <div class="col s12 content_card z-depth-1">
            <span class="_title">Current Admins</span>

                <ul class="users">
                    <table class="bordered highlight">
                        <tr>
                            <th>Username</th>
                            <th>Admin Action</th>
                        </tr>


                        <% for each in @admins %>
                            <%= render partial: "users/admin", locals: {user: each} %>
                        <% end %>

                    </table>
                </ul>
            <br>  
            <span class="_title">Current Users</span>
                <ul class="users">
                    <table class="bordered highlight">
                        <tr>
                            <th>Username</th>
                            <th>Admin Action</th>
                        </tr>
                        <% for each in @users %>
                            <%= render partial: "users/admin", locals: {user: each} %>
                        <% end %>
                    </table>
                </ul>
            </div>
        </div>
    </div>
</div>