<% provide(:title, "Admin Index") %>

<div class="row">
    <div class="row">
        <div class="col l11 offset-l1">
            <div class="content_title">
                <i class="material-icons" style="font-size: 35px">laptop_chromebook</i> Admin Panel
            </div>
        </div>
    </div>

    <%= render 'admin/navigation'%>

    <div class="col l8">
        <div class="row">
            <div class="col s12 content_card z-depth-1">
                { Some sort of statistics will be rendered here, a graph with the post frequency, etc}
                <br><br>
                <b>Things to add:</b><br>
                + Ability to update the frontpage spotify playlist<br>
                + Ability to add and remove other admins<br>
            </div>
        </div>
    </div>
</div>