<% provide(:title, "Spotify Management") %>

<div class="row">
    <div class="row">
        <div class="col l11 offset-l1 s12">
            <div class="content_title">
                <i class="material-icons" style="font-size: 35px">laptop_chromebook</i> Spotify Management
            </div>
        </div>
    </div>

    <%= render 'admin/navigation'%>

    <div class="col l8">
        <div class="row">
            <span class="_title">Spotify</span>
            <div class="col s12 content_card z-depth-1">
                <br>
                Login with Spotify, then you can genrate the playlist that is linked on the front page.<br><br>
                Note that because this is not a produciton site, it uses Abe's Spotify subscription as the controller
                for the api. As such, to generate the main playlist, you must be signed in as Abe. As such, only Abe can 
                update the playlist. In produciton versions, a Spotify subscription would be needed and then the playlist 
                could be updated automatically. <br><br>

                Note* This could take some time, only click once.<br><br>


                <%= link_to 'Sign in with Spotify', '/auth/spotify' %><br>
                <%= link_to 'Create Frontpage Playlist', '/spotify_helper' %>

                <br><br>
                <b>User: </b>1224459409<br>
                <b>Playlist: </b>5EAbXQCZMXMLIsqKdKR25f<br>

                <br><br>
            </div>
        </div>
    </div>
</div>