<% provide(:title, "Admin Management") %>

<div class="row">
    <div class="row">
        <div class="col l11 offset-l1 s12">
            <div class="content_title">
                <i class="material-icons" style="font-size: 35px">laptop_chromebook</i> User Management
            </div>
        </div>
    </div>

    <%= render 'admin/navigation'%>

    <div class="col l8 s12">
        <div class="row">
            <span class="_title">Edit Users</span>
            <div class="col s12 content_card z-depth-1">
                <br>
                <span>Note* If both password fields are left blank, the password will not be updated.</span>
                <ul class="users">
                    <table class="bordered highlight">
                        <tr>
                            <th>Username</th>
                        <th>
                            <% if current_user.admin? %>
                            Admin Action
                            <% end %>
                        </tr>
                        <%= render @users %>
                    </table>
                </ul>
            </div>
        </div>
    </div>
</div>