<% provide(:title, 'User Listing') %>
<div class="row">
    <div class="row">
        <div class="col l8 offset-l2 s12">
            <div class="content_title">
                <i class="material-icons" style="font-size: 35px">account_circle</i>User Listing
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col l8 offset-l2 m12 s12">
            <div class="row">
                <div class="col l12 m12 s12 content_card z-depth-1"> 
                    <div class="row">
                        <div class="col s12">
                          <ul class="users">
                            <table class="bordered highlight">
                              <tr>
                                <th>Username</th>
                                <th>
                                  <% if current_user.admin? %>
                                    Admin Action
                                  <% end %>
                              </tr>
                              <%= render @users %>
                            </table>
                          </ul>
                          <div class="right">
                            <%= will_paginate %>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>