<% provide(:title, @user.name) %>
  <div class="row">
    <div class="col s10 offset-s1 content_card z-depth-1">
        <div class="content_title">
            <%= @user.name %>
        </div>

        <div class="content_body">

            <% if @user.microposts.any? %>
                <div class="content_header">
                    Posts (<%= @user.microposts.count %>)
                </div>
                <ul class="microposts">
                    <%= render @microposts %>
                </ul>
                <%= will_paginate @microposts %>
            <% end %>
        </div>

    </div>
</div>

