<% if logged_in? %>
	<a class='dropdown-button' href='#' data-activates='dropdown<%= micropost.id %>'><i class="material-icons" style="font-size: 16px">playlist_add</i></a>

	<!-- Dropdown Structure -->
	<ul id='dropdown<%= micropost.id %>' class='dropdown-content dd' style="a {color: #fff;}">
		<% current_user.playlists.all.each do |playlist| %>
			<li><%= link_to playlist.name, playlist_addpost_path(playlist.id, micropost.id), method: :put %></li>
		<% end %>
	</ul>
<% end %>
