<a id="playlist-button-<%= micropost.id %>" class="playlist-menu-button dropdown-button" href="#" data-activates='dropdown<%= micropost.id %>'><i class="small material-icons">menu</i></a>

<!-- Dropdown Structure -->
<ul id='dropdown<%= micropost.id %>' class='dropdown-content'>
	<li><%= link_to "View Post", micropost %></li>
</ul>
