<tr>
    <td class="fp_feed">
        <li id="micropost-<%= micropost.id %>" style="list-style: none;">
            <div class="col l10 s11">
				<span class="_title"><%= micropost.title %> (<%= micropost.artist %>)</span>
				<br>
                <span class="_details"><%= link_to "View Post", micropost %></span>
            </div>

        </li>
    </td>
</tr>
