<% provide(:title, "All Songs") %>
<div class="row">
    <div class="row">
        <div class="col l8 offset-l2 s12">
            <div class="content_title">
                <i class="material-icons" style="font-size: 35px">music_note</i>All Songs
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col l8 offset-l2 m12 s12">
            <div class="row">
                <span class="_title"> Sorted by Most Upvotes</span>
                <div class="col l12 m12 s12 content_card z-depth-1"> 
                    <div class="row">
                        <div class="col s12">
                            <table class="bordered highlight">
                                <% if @feed.length == 0 %>
                                    <% if @community_listings.length  == 0 %>
                                        <span class="_diamond">
                                            There are not any communities stored in the database. The first step should be to
                                            <%= link_to "create one.", new_community_path %> Then songs can be added.
                                        <span>
                                    <% else %>
                                        <span class="_diamond">
                                            There are not any songs stored in the database. The next step should be to
                                            <%= link_to "create one.", new_micropost_path %>
                                        <span>
                                    <% end %>

                                <% else %>
                                    <%= render @feed %>
                                <% end %>
                            </table>

                        </div>

                    </div>

                </div>
                <br>&nbsp;
                <% if @feed != nil %>
                    <%= will_paginate @feed %>
                <% end %>
            </div>
        </div>
    </div>
</div>