<% provide(:title, "Comment Moderation") %>

<div class="row">
    <div class="row">
        <div class="col l11 offset-l1">
            <div class="content_title">
                <i class="material-icons" style="font-size: 35px">laptop_chromebook</i> Moderation
            </div>
        </div>
    </div>

    <%= render 'admin/navigation'%>

    <div class="col l8">
        <div class="row">
            <div class="col s12 content_card z-depth-1">
                <span class="_diamond"><br>Moderating comments for <%= link_to @micropost.title, @micropost %> in <%= link_to Community.find(@micropost.community_id).title, community_path(@micropost.community_id) %>.</span>
                <br><br>

                <% if @micropost.polycoms.length == 0 %>
                    No Comments to moderate.
                <% else %>
                    <% for each in @micropost.polycoms %>
                        <%= render partial: "polycoms/moderate", locals: {polycom: each} %>
                    <% end %>
                <% end %>

            </div>
        </div>
    </div>
</div>