<% provide(:title, "Submission") %>
<div class="row">
    <div class="col s10 offset-s1 content_card z-depth-1">

            <div class="content_title">
                Create New Post
            </div>

            <div class="content_body">
                <% if logged_in? %>
                    <%= render 'shared/micropost_form' %>
                <% else %>
                    Please <%= link_to "Login first. ", login_path %>
                <% end %>

            </div>

        </div>
    </div>
</div>

