<% provide(:title, "New Song") %>
<div class="row">
    <div class="row">
        <div class="col l8 offset-l2 s12">
            <div class="content_title">
                <i class="material-icons" style="font-size: 35px">music_note</i>Submit Song
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col l8 offset-l2 m12 s12">
            <div class="row">
                <div class="col l12 m12 s12 content_card z-depth-1"> 
                    <div class="row">
                        <div class="col s12">
                            <% if logged_in? %>
                                <%= render 'shared/micropost_form' %>
                            <% else %>
                                <br>
                                Please <%= link_to "Login first. ", login_path %>
                            <% end %>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>