<div class="row row_margin">
    <div class="col s10 offset-s1">
        <div class="content_card z-depth-1">

            <div class="content_title">
                Create New Post
            </div>

            <div class="content_body">
                <% if logged_in? %>
                    <%= render 'shared/micropost_form' %>
                <% end %>

            </div>

        </div>
    </div>
</div>

