
@import "materialize";

$navbar-height: 45px;
$navbar-line-height: $navbar-height;


$primary-color: color("blue-grey", "darken-2") ;
$primary-color-light: false !default;
$primary-color-dark: false !default;
@if not $primary-color-light {
  $primary-color-light: lighten($primary-color, 15%);
}
@if not $primary-color-dark {
  $primary-color-dark: darken($primary-color, 15%);
}
$secondary-color: #607d8b;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;

$link-color: color("light-blue", "darken-1") !default;


$footer-font-color: #fff !default;
$footer-bg-color: color("blue-grey", "darken-3");
$footer-copyright-font-color: rgba(255,255,255,.8) !default;
$footer-copyright-bg-color: color("blue-grey", "darken-4");
