
@import "materialize";

$navbar-height: 45px;
$navbar-line-height: $navbar-height;


// $primary-color: #202020 ;
$primary-color: #98af45 ;
$primary-color-light: false !default;
$primary-color-dark: false !default;
@if not $primary-color-light {
  $primary-color-light: lighten($primary-color, 15%);
}
@if not $primary-color-dark {
  $primary-color-dark: darken($primary-color, 15%);
}
$secondary-color: #363636 ;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;

$link-color: #98af45;


$footer-font-color: #fff !default;
$footer-bg-color: $secondary-color;
$footer-copyright-font-color: rgba(255,255,255,.8) !default;
$footer-copyright-bg-color: #98af45;
