@import '_variables';
@import "materialize";
  
  .debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;

  }

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  a:hover {
    filter: brightness(85%);
  }

  .row_margin {
    margin-top: 90px;
  }

  .row_margin_small {
    margin-top: 50px;
  }

  .title_box {
    z-index: -6;
    display: block;
    float: left;
    height: 100px;
    width: 100%;
    background-image: url("/assets/bar.png");
    background-repeat: no-repeat;
    background-color: #98af45;
    // outline: 1px solid #7c4dff;
    // outline-offset: -6px;
  }

  .nav_box {
    display: block;
    float: right;
    z-index: -5;
    height: 45px;
    width: 75%;
    // background-image: url("/assets/nav.png");
    background-color: $secondary-color;
    margin-top: -30px;
    border-radius: 5px 0px 0px 5px;
  }

  .login_box {
    display: block;
    float: right;
    margin-top: -75px;
    z-index: -3;
    
  }

  .logged_in {
    display: block;
    float: right;
    margin-top: -65px;
    padding-right: 10px;
    z-index: -3;
    
  }

  .title_text {
    display: block;
    height: 100%;
    color: #ffffff;
    font-weight: 100;
    font-size: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 
                  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 25px;
  }

  .content_card {
    display: block;
    border-radius: 2px;
    width: 95%;
    background-color: #ffffff;
    
  }

  .dark_card {
    display: block;
    border-radius: 2px;
    width: 95%;
    background-color: #121212;
    
  }

  .reply_card {
    display: block;
    width: 95%; 
  }

  .content_card_mobile {
    display: block;
    border-radius: 2px;
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 5px;
  }

  .post_card {
    display: block;
    border-radius: 2px;
    width: 100%;
    background-color: #ffffff;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 12px;
    margin-left: 15px;
  }

  .row_smal_margin {
    margin-bottom: 0px;
  }

  .row_med_margin {
    margin-bottom: 8px;
  }

  .content_card_small {
    display: block;
    border-radius: 2px;
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 5px;
    padding-bottom: 10px;
  }


  .content_card_narrow {
    padding: 1px;
    padding-left: 2px;
    padding-right: 2px;
    display: block;
    border-radius: 2px;
    background-color: #ffffff;
    
  }

  .content_header {
    font-size: 25px;
    padding-top: 10px;
    padding-left: 20px;
    display: block;
    width: 100%
  }

  .content_header_narrow {
    font-size: 25px;
    padding-top: 10px;
    padding-left: 2px;
    padding-right: 2px;
    display: block;
    width: 100%
  }

  .content_body{
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .small_input input#session_email, .small_input input#session_password{
    width: 45%;
    height: 20px;
    padding: 6px;
    color: #000;
    font-size: 13px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 0px;
    background-color: #fafafa;
    border-radius: 2px;

  }

  .login_components {
    display: block;
    float: left;
  }

  .login_submit {
    display: block;
    float: right;
    margin-right: 10px;
  }

  .button_mod {
    color: #fff;
    background-color: #424242;
  }

  .button_mod a {
    color: #fff;
  }

  .button_mod:hover {
    background-color: #212121;
  }

  .button_cont {
    color: #fff;
    background-color: $primary-color;
  }

  .button_cont a {
    color: #fff;
  }

  .button_cont:hover {
    background-color: #212121;
  }

  .dd li a {
    color: $secondary-color;
  }
  .dd2 li a {
    color: $primary-color;
    padding: 15px 6px;
  }

  .lh nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    line-height: 45px;
    margin-left: 0px;
  }

  .login_small {
    background-color: #424242;
    border-radius: 2px;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    font-size: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .login_small:hover {
    background-color: #212121;
  }

  .checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    span {
      margin-left: 20px;
      font-weight: normal;
    }
  }
  
  #session_remember_me {
    width: auto;
    margin-left: 0;
  }

  ._title {
    font-weight: 100;
    font-size: 25px;
  }

  ._title_small_margin {
    font-weight: 100;
    display: block;
    font-size: 25px;
    margin-top: -30px;
  }

  ._details {
    display: block;
    font-size: 12px;
    margin-top: -3px;
  }

  ._details_trend {
    display: block;
    font-size: 12px;
    margin-top: 0px;
  }

  ._details_reply {
    color: $primary-color;
    display: block;
    font-size: 12px;
    margin-top: -3px;
    margin-bottom: 5px;
  }

  ._details_top {
    display: block;
    margin-bottom: -25px;
    font-size: 12px;
  }

  ._details_top_trend {
    display: block;
    margin-bottom: -20px;
    font-size: 14px;
  }

  ._details_top_reply {
    display: block;
    margin-top: 5px;
    margin-bottom: -20px;
    font-size: 12px;
  }


  ._view_all {
    font-size: 12px;
    margin-top: -50px;
  }

  .add_to_list {

    float: right;
  }
  ._title_mobile {
    font-weight: 100;
    font-size: 65px;
  }

  ._details_mobile {
    font-size: 20px;
  }

  .content_title {
    font-weight: 200;
    font-size: 45px;
    margin-left: 15px;
    margin-top: -35px;
    margin-bottom: -15px;
  }

  .content_title_small_margin {
    font-weight: 200;
    font-size: 45px;
    margin-left: 15px;
    margin-top: -55px;
    margin-bottom: -20px;
  }

  .content_title_mobile {
    font-weight: 200;
    font-size: 75px;
    margin-left: 15px;
    margin-top: -60px;
  }

  .content_sub_title {
    font-weight: 200;
    font-size: 25px;
    margin-left: 0px;
    margin-top: -20px;
  }

  .content_title_post {
    font-weight: 200;
    font-size: 45px;
    margin-left: 0px;
    margin-top: -35px;
  }

  .comment {
    font-size: 12px;
    font-weight: 300;
  }

  .mobile_title {
    font-size: 65px;
    font-weight: 100;
    padding-left: 15px;
  }

._artist_title {
  margin-top: -5px;
}

._upvoted a {
  color: rgb(66, 193, 66);
  display: block;
  font-weight: bold;
  font-size: 20px;
}

._downvoted a {
  color: rgb(198, 0, 0);
  display: block;
  font-weight: bold;
  font-size: 20px;
}

._nonvoted a {
  color: #bdbdbd;
  display: block;
  font-weight: bold;
  font-size: 20px;
}

._upvoted_trend a {
  color: rgb(66, 193, 66);
  font-weight: 100;

}

._downvoted_trend a {
  color: rgb(198, 0, 0);
  font-weight: 100;

}

._nonvoted_trend a {
  color: #bdbdbd;
  font-weight: 100;
}

._upvoted_com a {
  color: rgb(66, 193, 66);
  font-weight: 100;
  font-size: 20px;

}

._downvoted_com a {
  color: rgb(198, 0, 0);
  font-weight: 100;
  font-size: 20px;

}

._nonvoted_com a {
  color: #bdbdbd;
  font-weight: 100;
  font-size: 20px;
}

._diamond {
  color: #6c6c6c;
}

._score {
  display: block;
  margin-top: -28px;
  margin-bottom: -28px;
  margin-left: 6px;
}

._score_trend {
  font-weight: 300;
}

._score_com {
  font-weight: 300;
  font-size: 20px;
}

._score_collector {
  font-size: 15px;
}

.fp_song_title {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 14px;
}

.fp_feed {
  padding-top: 3px;
  padding-left: 0px;
  padding-bottom: 3px;
  font-size: 14px;
}

.helper {
  display: inline;
  width: 50%;
  color: #bdbdbd;
}

.hidden {
  display: none;
}

.col_mod{
  border: 0px;
}

.col_head_mod{
  padding: 0px;
  border: 0px;
}

.col_bod_mod{
  padding: 0px;
  border: 0px;
}

.mobile_head {
  background-color: $primary-color;
  width: 100%;
  height: 75px;
  margin-top: 0px;
}

.mobile_bod {
  width: 100%;
  background-color: #fff;
}

._mobile_header {
  font-size: 35px;
  font-weight: 100;
}

.not_btn {
  background: none !important;
  border: 0px;
  color: $primary-color;
  outline: inherit !important;
  padding: 0! important;
}