<tr><td class="fp_feed">

<li id="playlist-<%= playlist.id %>">

        <div class="col l12 s12">
            <span class="_name"><span class="_diamond hide">◊</span><%= link_to playlist.name, playlist %></span>
            
		</div>


</li>

</td></tr>
