<%# -- 
        Abbreviated Community card listing
        'com' is a community active record
                                                                -- %>

<div class="col l4 m12 s12">
    <span class="_title"> 
        <%= link_to com.title, com %>
            <span class="_nonvoted_trend">
            <%= link_to community_like_path(com), method: :put, class: "item-over" do %>
                    <i class='material-icons' style='font-size: 15px'>add_box</i>
            <% end %> 
        </span>
    </span>

    <div class="row">
        <div class="col s12 content_card z-depth-1">
            <span class="_details_top_trend">Top Tracks</span><br>
            <table class="bordered highlight ">
                <% for each in com.microposts.limit(7) %>
                    <%= render partial: "static_pages/top3", locals: {each: each} %>
                <% end %>
            </table>
            <span class="_details_trend right"><%= link_to "More...", com %>
        </div>
    </div>
</div>