  <tr>
    <td><%= link_to community.title, community_moderate_path(community) %></td>
    <td><%= community.cached_votes_up %></td>
    <td>
          <%= link_to "delete", community, method: :delete,
                                    data: { confirm: "You sure?" } %> | 
        <%= link_to "edit", edit_community_path(community) %>
    </td>
  </tr>
</li>