<% provide(:title, "Communities") %>
<div class="row">
    <div class="col l10 offset-l1  m12 s12  ">
        <div class="row">
            <div class="col s12">
                <div class="content_title">
                    <i class="material-icons" style="font-size: 35px">trending_up</i>All Communities
                </div>
                <div class="row">
                    <div class="col m12 s12">
                        <div class="row">
                            <% if @community_listings.length == 0 %>
                                <br>
                                <div class="col s12 content_card z-depth-1" style="padding: 10px;">
                                    <span class="_diamond">
                                        There are not any communities stored in the database. The first step should be to
                                        <%= link_to "create one.", new_community_path %>
                                    <span>
                                </div>
                            <% else %>
                                <% for com in @community_listings %>
                                    <%= render partial: "communities/abbr", locals: {com: com} %>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
        </div>
</div>



