<% provide(:title, "New Community") %>
<div class="row">
    <div class="row">
        <div class="col l8 offset-l2 s12">
            <div class="content_title">
                <i class="material-icons" style="font-size: 35px">grain</i>Spotify Helper for <%= @community.title %> 
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col l8 offset-l2 m12 s12">
            <div class="row">
                <div class="col l12 m12 s12 content_card z-depth-1"> 
                    <div class="row">
                        <div class="col s12">
                            <% if logged_in? %>
                                <br>
                                <%= link_to 'Sign in with Spotify First', '/auth/spotify' %><br>
                                <%= link_to 'Then Click Here to Generate Playlist for ' + @community.title, community_user_spotify_create_path(@community,current_user) %>
                            <% else %>
                                <br>
                                Please <%= link_to "Login first. ", login_path %>
                            <% end %>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>